@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;

}

:root {
    --primary-color: #134266;
    --secondary-color: #78c5d7;
    --accent1-color: #ffffff;
    --accent2-color: #ffffff;

    --heading-font: 'Bebas Neue', serif;
    --paragraph-font: 'Montserrat', serif;

    --nav-background-color: #ffffff;
    --nav-link-color: hsl(238, 52%, 26%);
    --nav-hover-link-color: #4f9bbb;
    --nav-hover-background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.title {
    background-color: #a7dae5;
    padding: 3px 10px;
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 20px;
    background-color: var(--accent1-color);
}

header img {
    height: 150px;
    width: auto;
}

p {
    padding: 25px;
}

nav {
    display: flex;
    align-self: flex-end;
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    margin: auto;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    opacity: .8;
}

.hero h1 {
    position: absolute;
    background-color: rgba(176, 174, 180, 0.8);
    width: 100%;
    top: 25px;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

.hero article {
    position: absolute;
    background-color: rgba(176, 174, 180, 0.8);
    width: 85%;
    top: 180px;
    left: 7%;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    margin: 15px;
}

.hero article p {
    color: #ffffff;
}

.history {
    display: flex;
}

.history img {
    width: auto;
    height: 250px;
}

.gallery {
    display: flex;
}

.gallery figure {
    margin: 6px;
}

.gallery figure img {
    width: auto;
    height: 100px;
}

footer {
    display: flex;
    margin-top: 30px;
}

footer div {
    margin-left: auto;
    align-content: center;
}

footer a {
    text-decoration: none;
}

footer a img {
    height: 50px;
    width: auto;
}